header{
  width: 100%;

  background: var(--noir);
  position: fixed;
  z-index: 3;
}
.header-principal h1{
  color: var(--blanc);
  font-family: var(--font-secondaire);
  font-size: 2.25rem;
  line-height: 43px;
  margin: 0;
  padding: 15px 0;
}